client frontend/logs
client frontend/*.log
client frontend/npm-debug.log*
client frontend/yarn-debug.log*
client frontend/yarn-error.log*
client frontend/pnpm-debug.log*
client frontend/lerna-debug.log*
client frontend/node_modules
client frontend/dist
client frontend/dist-ssr
client frontend/*.local
client frontend/.vscode/*
client frontend/!.vscode/extensions.json
client frontend/.idea
client frontend/.DS_Store
client frontend/*.suo
client frontend/*.ntvs*
client frontend/*.njsproj
client frontend/*.sln
client frontend/*.sw?


client backend/.env
client backend/.env.local