.home-container {
  display: flex;
  justify-content: space-between;
}

.right-container{
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;  
}

.form-container {
  width: 100%;
  /* height: 100vh; */
  padding: 20px;
  border: 1px solid #ccc;
}

.renders-container {
  width: 50%;
  padding: 20px;
  /* border: 1px solid #ccc; */
}
